// Slate Color Schemes

$white           :  #ffffff;
$themeGrayWhite  :  #F8F8F8;
$themeLLGray     :  #DFE2E2;
$themeLGray      :  #D4D7D7;
$themeMGray      :  #8a9294;
$themeDGray      :  #494D4E;
$themeDDGray     :  #3B3F41;
$black           :  #000000;