// Slate Color Schemes

$white           :  #ffffff;
$themeGrayWhite  :  #F8F8F8;
$themeLLGray     :  #DFE2E2;
$themeLGray      :  #D4D7D7;
$themeMGray      :  #8a9294;
$themeDGray      :  #494D4E;
$themeDDGray     :  #3B3F41;
$black           :  #000000;

// Thematic colors

$themeBlue       :  #219ed8;
$themeTurqoise   :  #5cc8e5;
$themeGreen      :  #24c4bc;
$themeSienna     :  #e66e4c;