// slidedown nav

// <nav class="framework-nav" role="navigation">
// 		<h1>Framework Documentation</h1>

// 		<div class="framework-nav__section">
// 			<h2 class="framework-nav__section-title">Overview</h2>
// 			<ul class="framework-nav__section-list">
// 			<li class="framework-nav__section-list-item"><a href="#" class="framework-nav__section-list-link">Overview</a></li>
// 				<li class="framework-nav__section-list-item"><a href="#" class="framework-nav__section-list-link">Front-end Coding Standards</a></li>
// 				<li class="framework-nav__section-list-item"><a href="#" class="framework-nav__section-list-link">Syn Mixins</a></li>
// 			</ul>
// 		</div>
// </nav>

.framework-nav {
	padding           :   rem-calc(80 40);
	overflow          :   auto;
	position          :   fixed;
	top               :   0;
	right             :   0;
	bottom            :   0;
	left              :   0;
	z-index           :   1;
	text-align        :   center;
	background-color  :   transparent;

	@include linear-gradient( $white, rgba($white, .9), $fallback: transparent );

	// main nav header

	> h1 {
		margin     :  0 auto rem-calc(24);
		padding    :  rem-calc(10 25);
		display    :  inline-block;
		position   :  relative;
		z-index    :  5;
		font-size  :  rem-calc(18);
		border     :  1px solid $themeBlue;

		@media #{$medium-up} {
			margin  :  rem-calc(21) auto rem-calc(36);
		}

		// lines on either side of header

		&:before,
		&:after {
			content        :  " ";
			width          :  100%;
			position       :  absolute;
			top            :  50%;
			left           :  100%;
			border-bottom  :  1px solid $themeBlue;

		}

		&:after {
			right  :  100%;
			left   :  auto;
		}

	}

}

// create nav columns

.framework-nav__columns {
	text-align  :  left;

	@media #{$medium-up} {
		@include column-count(2);
		@include column-gap( rem-calc(21) );
	}

	@media #{$large-up} {
		@include column-count(4);
		@include column-gap( rem-calc(40) );
	}
}

// prevent column breaks within nav sections

.framework-nav__section {
	-webkit-column-break-inside  :  avoid;
	-moz-column-break-inside     :  avoid;
	-o-column-break-inside       :  avoid;
	-ms-column-break-inside      :  avoid;
	page-break-inside            :  avoid;
}

// section titles

.framework-nav__section-title {
	margin          :  0;
	padding         :  rem-calc(6 0);
	text-transform  :  uppercase;
	font-size       :  rem-calc(16);
	color           :  $themeDGray;
	border-bottom   :  1px solid $themeLGray;
}

// section nav list

.framework-nav__section-list {
	@extend .no-bullet;
}

// section nav list item

.framework-nav__section-list-item {
	border-top: 1px solid $themeLLGray;
	border-bottom: 1px solid $white;

	&:first-child {
		border-top  :  none;
	}

	&:last-child {

	}
}

// section nav link

.framework-nav__section-list-link {
	padding: rem-calc(3 6);
	display: block;
	font-size: rem-calc(13);
	border-left: 5px solid transparent;

	@include transition( background-color .3s ease-in-out, border-color .3s ease-in-out );

	&:hover {
		background-color   :   $white;
		border-left-color  :   $themeTurquoise;
	}
}