// *******************************************
// *******************************************

	// Header area for framework

// *******************************************
// *******************************************

.framework-header {
	padding-top  :  rem-calc(46); // offset header nav
}

// Header Bar

// <div class="header-bar">
// 	<h1 class="header-bar__branding">Framework</h1>
// 	<a href="#" class="header-bar__nav-trigger">Nav <span class="fa fa-bars"></span></a>
// </div>

.header-bar {
	margin           :  rem-calc(-5 -5 0 -5);
	padding          :  rem-calc(20 20 15);
	position         :  fixed;
	top              :  0;
	right            :  0;
	left             :  0;
	z-index          :  2;
	color            :  $white;
	background-color :  $themeBlue;
	border-bottom    :  1px solid rgba($white, .25);
	box-shadow       :  inset 2px 0px 5px -2px $black;

	@include clearfix();

	@media #{$large-up} {
		padding          :  rem-calc(20 50 15);
	}

	.header-bar__branding {
		margin       :  0;
		display      :  inline-block;
		float        :  left;
		font-size    :  rem-calc(16);
		line-height  :  rem-calc(16);
		font-weight  :  bold;
		color        :  $white;
	}

	.header-bar__nav-trigger {
		display      :  inline-block;
		float        :  right;
		font-size    :  rem-calc(16);
		line-height  :  rem-calc(16);
		color        :  $white;
	}

}