// Slate Color Schemes

$white           :  #ffffff !default;
$themeGrayWhite  :  #F8F8F8 !default;
$themeLLGray     :  #dee1e9 !default;
$themeLGray      :  #d0d3dc !default;
$themeMGray      :  #73767d !default;
$themeDGray      :  #494D4E !default;
$themeDDGray     :  #3B3F41 !default;
$black           :  #000000 !default;

// Thematic Color Scheme

$primary         :  #2798d4 !default;
$secondary       :  #e46849 !default;
$tertiary        :  #55c4dd !default;