<div class="content-overview">
	<div class="layout--max-width">
		<h1 class="content-overview__title">Buttons</h1>
		<p>Buttons are convenient tools when you need more traditional actions. To that end, Foundation has many easy to use button styles that you can customize or override to fit your needs.</p>
	</div>
</div>

<div class="layout--max-width">
	<p><a href="#" class="button">.button</a><br></p>
	<hr>
	<h2 id="basic">Basic</h2>
	<p>You can create a button using minimal markup.</p>
	<div class="row">
	  <div class="large-6 columns">
	    <h4>HTML</h4>
	<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button"</span>&gt;</span>Default Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>

	  </div>
	  <div class="large-6 columns">
	    <h4>Rendered HTML</h4>
	<a href="#" class="button">.button</a><br>

	  </div>
	</div>

	<hr>
	<h2 id="advanced">Advanced</h2>
	<p>Additional classes can be added to your component to change its appearance.</p>
	<div class="row">
	  <div class="large-6 columns">
	    <h4>HTML</h4>
	<pre><code class="language-html"><div class="code-container"><span class="comment">&lt;!-- Size Classes --&gt;</span>
	<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button [tiny small large]"</span>&gt;</span>Default Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
	<span class="comment">&lt;!-- Color Classes --&gt;</span>
	<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button [secondary success alert]"</span>&gt;</span>Color Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
	<span class="comment">&lt;!-- Radius Classes --&gt;</span>
	<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button [radius round]"</span>&gt;</span>Radius Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
	<span class="comment">&lt;!-- Disabled Class --&gt;</span>
	<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button disabled"</span>&gt;</span>Disabled Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>

	  </div>
	  <div class="large-6 columns">
	    <h4>Rendered HTML</h4>
	<div class="row">
	  <div class="small-6 large-6 columns">
	    <a href="#" class="button tiny">Tiny Button</a>
	  </div>
	  <div class="small-6 large-6 columns">
	    <a href="#" class="button alert">Alert Button</a>
	  </div>
	</div>
	<div class="row">
	  <div class="small-6 large-6 columns">
	    <a href="#" class="button radius">Radius Button</a>
	  </div>
	  <div class="small-6 large-6 columns">
	    <a href="#" class="button disabled">Disabled Button</a>
	  </div>
	</div>

	<p>  </p></div>
	</div><p></p>
	<hr>
	<h2 id="customize-with-sass">Customize With Sass</h2>
	<p>Buttons can be easily customized using our Sass variables</p>
	<pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-<span class="tag">button</span>-classes<span class="value">: $include-html-classes;</span>

	<span class="comment">// We use these to build padding for buttons.</span>
	$<span class="tag">button</span>-med<span class="value">: rem-calc(<span class="number">12</span>);</span>
	$<span class="tag">button</span>-tny<span class="value">: rem-calc(<span class="number">7</span>);</span>
	$<span class="tag">button</span>-sml<span class="value">: rem-calc(<span class="number">9</span>);</span>
	$<span class="tag">button</span>-lrg<span class="value">: rem-calc(<span class="number">16</span>);</span>

	<span class="comment">// We use this to control the display property.</span>
	$<span class="tag">button</span>-<span class="attribute">display</span><span class="value">: inline-block;</span>
	$<span class="tag">button</span>-<span class="attribute">margin-bottom</span><span class="value">: rem-calc(<span class="number">20</span>);</span>

	<span class="comment">// We use these to control button text styles.</span>
	$<span class="tag">button</span>-<span class="attribute">font-family</span><span class="value">: inherit;</span>
	$<span class="tag">button</span>-<span class="attribute">font</span>-<span class="attribute">color</span><span class="value">: <span class="hexcolor">#fff</span>;</span>
	$<span class="tag">button</span>-<span class="attribute">font</span>-<span class="attribute">color</span>-alt<span class="value">: <span class="hexcolor">#333</span>;</span>
	$<span class="tag">button</span>-<span class="attribute">font</span>-med<span class="value">: rem-calc(<span class="number">16</span>);</span>
	$<span class="tag">button</span>-<span class="attribute">font</span>-tny<span class="value">: rem-calc(<span class="number">11</span>);</span>
	$<span class="tag">button</span>-<span class="attribute">font</span>-sml<span class="value">: rem-calc(<span class="number">13</span>);</span>
	$<span class="tag">button</span>-<span class="attribute">font</span>-lrg<span class="value">: rem-calc(<span class="number">20</span>);</span>
	$<span class="tag">button</span>-<span class="attribute">font-weight</span><span class="value">: bold;</span>
	$<span class="tag">button</span>-<span class="attribute">font</span>-align<span class="value">: center;</span>

	<span class="comment">// We use these to control various hover effects.</span>
	$<span class="tag">button</span>-function-factor<span class="value">: <span class="number">10</span>%;</span>

	<span class="comment">// We use these to control button border styles.</span>
	$<span class="tag">button</span>-<span class="attribute">border-width</span><span class="value">: <span class="number">1</span>px;</span>
	$<span class="tag">button</span>-<span class="attribute">border-style</span><span class="value">: solid;</span>

	<span class="comment">// We use this to set the default radius used throughout the core.</span>
	$<span class="tag">button</span>-radius<span class="value">: $global-radius;</span>
	$<span class="tag">button</span>-round<span class="value">: $global-rounded;</span>

	<span class="comment">// We use this to set default opacity for disabled buttons.</span>
	$<span class="tag">button</span>-<span class="value">disabled</span>-<span class="attribute">opacity</span><span class="value">: <span class="number">0.6</span>;</span></div></code></pre>


	<hr>
	<h2 id="semantic-markup-with-sass">Semantic Markup With Sass</h2>
	<p>You can create your own buttons using our Sass mixins.</p>
	<h3 id="basic">Basic</h3>
	<p>You can use the <code>button()</code> mixin like so:</p>
	<h4>SCSS</h4>

	<pre><code class="language-scss"><div class="code-container"><span class="comment">// Using the default styles</span>
	<span class="class">.custom-button-class</span> { <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> button</span>;</span> }</div></code></pre>


	<h4>HTML</h4>

	<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"custom-button-class"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>


	<h3 id="advanced">Advanced</h3>
	<p>You can further customize your buttons:</p>
	<h4 id="scss">SCSS</h4>
	<pre><code class="language-scss"><div class="code-container"><span class="comment">// Using the available options</span>
	<span class="class">.custom-button-class</span> {
	  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> button</span>($padding, $bg, $radius, $full-width, $disabled, $is-input);</span>
	}

	<span class="comment">// $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)</span>
	$<span class="attribute">padding</span><span class="value">: <span class="number">12</span>px;</span>
	<span class="comment">// Primary color set in settings file. Default: $primary-color.</span>
	$bg<span class="value">: orange;</span>
	<span class="comment">// If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.</span>
	$radius<span class="value">: true;</span>
	<span class="comment">// We can set $full-width:true to remove side padding extend width. Default:false</span>
	$full-<span class="attribute">width</span><span class="value">: false;</span>
	<span class="comment">// We can set $disabled:true to create a disabled transparent button. Default:false</span>
	$<span class="value">disabled</span><span class="value">: false;</span>
	<span class="comment">// $is-input - &lt;input&gt;'s and &lt;button&gt;'s take on strange padding. We added this to help fix that. Default:false</span>
	$is-<span class="tag">input</span><span class="value">: false;</span></div></code></pre>



	<h4 id="html">HTML</h4>
	<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"custom-button-class"</span>&gt;</span>...<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>


	<hr>
	<h3 id="sass-errors-">Sass Errors?</h3>
	<p>If the default "foundation" import was commented out, then make sure you import this file:</p>
	<h4>SCSS</h4>

	<pre><code class="language-scss"><div class="code-container"><span class="at_rule">@<span class="keyword">import</span> <span class="string">"foundation/components/buttons"</span>;</span></div></code></pre>
</div>